<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>DISCOGRAPHY</h1>
{% block content %}{% endblock %}
<p><a href="{% url 'discography:registration' %}">Sign Up</a></p>
<p><a href="{% url 'discography:login' %}">Log in</a></p>
{% if user.is_authenticated %}
    <p>Authorized as {{ user.get_username }}</p>
    <p><a href="{% url 'discography:logout' %}">Logout</a></p>
{% endif %}
<p><a href="{% url 'discography:index' %}">main page</a></p>
</body>
</html>